%btn {
	margin: 15px 36px;
	cursor: pointer;
	&:before {
		content: '';
		position: absolute;
		width: 27px;
		height: 27px;
		background-repeat: no-repeat;
		background-position: center;
		background-size: 21px auto;
		left: 0;
	}
}

.btn-with-icon {
	@extend %btn;

	display: inline-flex;
	align-items: center;
	position: relative;

	&.icon-cart {
		&:before {
			left: -36px;
			background-image: url(/assets/images/cart.svg);
		}
		&:after {
			display: flex;
			position: absolute;
			background-color: $brown;
			width: 16px;
			height: 16px;
			border-radius: 50%;
			left: -21px;
			top: 12px;
			color: $white;
			font-size: 1rem;
			align-items: center;
			justify-content: center;
			content: attr(data-text);
		}
	}

	&.icon-user {
		&::before {
			left: -36px;
			background-image: url(/assets/images/user.svg);
		}
	}
}

.btn-more {
	display: inline-flex;
	position: relative;
	padding: 0;
	margin-top: 25px;
	cursor: pointer;
	align-items: center;
	font-size: 1.6rem;
    font-weight: 600;

	&:after {
		content: '';
		display: inline-flex;
		position: relative;
		width: 15px;
		height: 9px;
		background-repeat: no-repeat;
		background-image: url(/assets/images/arrow-black.svg);
		left: 15px;
	}

	&::before {
		content: '';
		display: flex;
		position: absolute;
		border-bottom: 3px solid $brown-light;
		bottom: -10px;
		width: 45%;
	}
}

.btn-square {
	cursor: pointer;
	padding: 0;
	width: 24px;
	height: 24px;
	position: relative;
	display: inline-flex;
	background-position: center;
	background-repeat: no-repeat;
	&.icon-like {
		background-image: url(/assets/images/like.svg);
	}
	&.icon-comment {
		background-image: url(/assets/images/comment.svg);
	}
	&.icon-like-fill {
		background-image: url(/assets/images/like-fill.svg);
	}
	&.icon-comment-fill {
		background-image: url(/assets/images/comment-fill.svg);
	}
	&.instagram {
		background-image: url(/assets/images/footer/icon-instagram.svg);
	}
	&.fb {
		background-image: url(/assets/images/footer/icon-fb.svg);
	}
	&.youtube {
		background-image: url(/assets/images/footer/icon-youtube.svg);
	}
}

%btn-play {
	cursor: pointer;
	padding: 0;
	position: absolute;
	display: inline-flex;
	width: 96px;
	height: 96px;
	background-repeat: no-repeat;
	background-image: url(/assets/images/play-player.svg);
	transition: .5s;
	&:hover {
		transform: scale(1.2);
	}
}

.btn-black {
	display: inline-flex;
	position: relative;
	cursor: pointer;
	align-items: center;
	justify-content: center;
	padding: 15px 30px;
	background-color: $black-dark;
	color: $white;
}

.btn-hamburger {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	cursor: pointer;
	background-repeat: no-repeat;
	width: 24px;
	height: 18px;
	top: 25px;
	transition: .5s;
	span {
		position: absolute;
		display: block;
		width: 21px;
		height: 2px;
		background: $white;
		transition: .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
		&:nth-child(1) {
			top: 1px;
		}
		&:nth-child(2) {
			top: 8px;
		}
		&:nth-child(3) {
			top: 16px;
		}
	}
	&.active {
		justify-content: center;
		span {
			&:nth-child(1) {
				transform: rotate(45deg);
				top: 8px;
			}
			&:nth-child(2) {
				width: 0;
				opacity: 0;
			}
			&:nth-child(3) {
				transform: rotate(-45deg);
				top: 8px;
			}
		}
	}
}

.btn-arrow {
	display: block;
	position: relative;
	background-color: $black-dark;
	cursor: pointer;
	width: 64px;
	height: 64px;
	background-repeat: no-repeat;
	background-position: center;
		&.right {
			background-image: url(/assets/images/arrow-white.svg);
		}
		&.left {
			background-image: url(/assets/images/arrow-white-left.svg);
		}
}