footer {
    margin-bottom: 100px;
    .logo {
        width: 139px;
        height: 26px;
        background-repeat: no-repeat;
        background-size: contain;
        margin-bottom: 55px;
    }
    .container {
        display: grid;
        grid-template-columns: 0.75fr 3px 0.45fr 3px 0.65fr;
        grid-gap: 60px;
        .container-left {
             column-count: 2;
            .left, .right{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                height: 100%;
            }
        }
        .line {
            background-color: $brown-light;
        }
        .container-center {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            .content {
                display: flex;
                flex-direction: column;
                font-style: normal;
                .mail {
                    margin-bottom: 20px;
                }
            }
            .btns {
                margin-top: 30px;
                display: flex;
                justify-content: space-between;
                width: 155px;
            }
        }
        .container-right {
            p {
                color: $gray; 
            }
            form {
                display: flex;
                margin: 40px 0 15px;
                input {
                    width: 100%;
                    padding: 20px;
                    background-color: $white-2;
                    border: none;
                }
                .btn-black {
                    width: 59px;
                    height: 59px;
                    border: none;
                    position: relative;
                    &::before {
                        content: "";
                        position: absolute;
                        width: 12px;
                        height: 12px;
                        border-top: 3px solid $white;
                        border-right: 3px solid $white;
                        transform: rotate(45deg);
                        left: calc(50%-11.5px);
                    }
                }
            }
        }
    }
}