.header {
	@extend .cont;
	&--top {
		display: flex;
		justify-content: space-between;
		padding: 50px 0;
		position: relative;
		.logo {
			width: 208px;
			height: 39px;
			background-image: url(/assets/images/logo.png);
			background-repeat: no-repeat;
		}
	}
	&--menu {
		z-index: $z-1;
		top: 239px;
		left: -40px;
		display: flex;
		justify-content: center;
		position: absolute;
		width: 89px;
		height: 301px;
		background-color: $black-dark;
		.text {
			position: absolute;
			width: 20px;
			height: 20px;
			bottom: 30px;
			transform: rotate(-90deg);
			color: $white;
		}
	}
}
