.section-history-love {
    position: relative;
    .left-text {
        position: absolute;
        transform: rotate(-90deg);
        font-size: 3.5rem;
        color: $brown-light;
        top: 50%;//calc(50%-50px);
        left: -200px;
        &::before {
            content: "";
            display: block;
            position: absolute;
            transform: inherit;
            width: 3px;
            height: 651px;
            top: -290px;
            left: -410px;
            background-color: $brown-light;
        }
    }
    .grid {
        display: grid;
        position: relative;
        grid-template-columns: 0.38fr 0.62fr;
        grid-gap: 116px;
        &::before {
            content: "";
            position: absolute;
            background: url(/assets/images/section-inspiration/bg.svg);
            width: 212px;
            height: 354px;
            bottom: 276px;
            left: 421px;
            z-index: $z-0;
        }
        .left {
            img {
                position: relative;
                width: 100%;
                height: 100%;
                z-index: $z-1;
            }
        }
        .right {
            position: relative;
            z-index: $z-1;
            h1 {
                padding-bottom: 78px;
            }
            h2 {
                padding-bottom: 24px;
            }
            .text {
                padding-bottom: 67px;
            }
            .comment {
                display: flex;
                justify-items: center;
                padding-left: 35px;
                margin-bottom: 70px;
                border-left: 2px solid $black-dark;
                height: 74px;
                align-items: center;
                font-weight: 600;
                color: $black-light;
            }
            .btn-black {
                width: 160px;
                height: auto;
            }
        }
    }
}