.section-journal {
    display: flex;
    justify-content: space-between;
    margin-top: 145px;
    margin-bottom: 150px;
    .grid {
        display: grid;
        grid-template-columns: 30% 3px 70%;
        grid-gap: 111px;
        .left {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100%;
            width: 100%;
            h2 {
                margin-top: 86px;
            }
        }
        .line {
            background-color: $brown-light;
        }
        .right {
            display: flex;
            justify-content: space-between;
            width: 80%;
            h2 {
                margin: 44px 0;
            }
            img {
                height: auto;
                width: 100%;
                margin-left: 110px;
            }
            .price {
                margin-top: 55px;
                display: inline-flex;
                align-items: center;
                .btn-black {
                    padding: 11px 34px;
                }
                p {
                    padding-left: 55px;
                }
            }
        }
    }
}