.section-shop {
    .btn-more {
        margin-top: 26px;
    }

    .block-shop {
        display: inline-flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        .line {
            background-color: $brown-light;
            width: 3px;
            height: 150px;
        }
        .shop {
            width: 637px;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
            img {
                width: auto;
                height: 116px;
                align-items: center;
            }
            .kochut {
                width: 213px;
                height: 86px;
            }
            .esty {
                width: 273px;
                height: 74px;
            }
            .anne {
                width: 237px;
                height: 62px;
            }
        }
    }
}