.section-forum {
    margin-top: 306px;
    margin-bottom: 90px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    .content {
        flex-basis: 23%;
        border: 3px solid $brown-light;
        padding: 74px 38px;
        position: relative;
        align-items: center;
        &:hover {
            .btn-square {
                opacity: 100;
                transition: .5s;
            }
        }
        .data {
            opacity: 0.5;
        }
        h2 {
            margin-bottom: 40px;
        }
        .text {
            margin-bottom: 50px;
        }
        .btn-square {
            position: absolute;
            top: 30px;
            right: 30px;
            opacity: 0;
            transition: .5s;
        }
    }
}