.section-instagram {
    margin-top: 150px;
    .instagram-photo {
        display: flex;
        justify-content: space-between;
        .instagram-item {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            width: 100%;
            height: 283px;
            &:hover {
                .image:after {
                    opacity: 0.25;
                    transition: .5s;
                }
                .content {
                    opacity: 1;
                    transition: .5s;
                }
            }
            .image {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
                cursor: pointer;
                background-size: contain;
                background-repeat: no-repeat;
                &::after {
                    content: "";
                    display: block;
                    width: calc(100%-45px);
                    height: calc(100%-45px);
                    background-color: $black-light;
                    opacity: 0;
                    transition: .5s;
                }
            }
            .content {
                padding-top: 10px;
                opacity: 0;
                display: inline-flex;
                position: absolute;
                width: 145px;
                align-items: center;
                justify-content: space-between;
                transition: .5s;
                .like-comment{
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    width: 55px;
                    p {
                        margin-bottom: 5px;
                        color: $white;
                        font-weight: 600;
                        font-size: 1.4rem;
                    }
                }
            }
        }
    }
    .btn-black {
        display: block;
        margin: 55px auto 0;
        width: 160px;
        height: auto;
        position: relative;
        text-align: center;
    }
}