.section-shop-grid {
    margin-top: 230px;
    display: grid;
    grid-template-columns: 0.53fr 1fr;
    grid-column-gap: 107px;
    .left-grid {
        display: block;
        width: 463px;
        height: auto;
        position: relative;
        z-index: $z-2;
        .image {
            width: auto;
            height: 686px;
        }
        img {
            position: absolute;
            z-index: $z-1;
        }
        &::before {
            content: "";
            position: absolute;
            background: url(/assets/images/section-inspiration/bg.svg);
            width: 406px;
            height: 354px;
            top: -71px;
            left: -78px;
            z-index:-1000000;
        }
    }
    .right-grid {
        display: grid;
        grid-gap: 133px;
        grid-template-columns: 0.5fr 0.5fr;
        .center {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        .right {
            @extend .center;
        }
    }
}