.section-history {
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
    margin-bottom: 164px;
    .content {
        width: 395px;
        .image {
            margin-bottom: 40px;
            background-repeat: no-repeat;
            width: 100%;
            height: 225px;
        }
        h2 {
            margin-bottom: 40px;
        }
    }
}