.section-inspiration {
    position: relative;
    padding: 0 0 200px 0;
    display: grid;
    grid-column-gap: 173px;
    grid-template-columns: 0.7fr 1.3fr;
    .left {
        position: absolute;
        transform: rotate(-90deg);
        font-size: 3.5rem;
        color: $brown-light;
        top: calc(50%-250px);
        left: -190px;
        &::before {
            content: "";
            display: block;
            position: absolute;
            transform: inherit;
            width: 3px;
            height: 272px;
            top: -100px;
            left: -200px;
            background-color: $brown-light;
        }
    }

    .gl-left {
        position: relative;
        width: 471px;
        img {
            position: relative;
            z-index: $z-1;
        }
        &::before {
            content: "";
            position: absolute;
            background: url(/assets/images/section-inspiration/bg.svg);
            width: 212px;
            height: 632px;
            top: 57px;
            left: 365px;
            z-index: $z-0;
        }
    }
    .gl-right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .gl-bottom {
            display: flex;
            position: relative;
            justify-content: space-between;
            .bottom-block {
                width: 222px;
            }
        }
        .gl-top {
            p {
                margin-bottom: 40px;
            }
            .content {
                column-count: 2;
                column-gap: 136px;
            }
         }
    }
    .block-content {
        span {
            display: block;
            position: relative;
            font-size: 2rem;
            line-height: 2.4;
            font-weight: 600;
            padding-top: 40px;
        }
    }
}
