.section-video {
    margin-top: 227px;
    .left {
        position: absolute;
        transform: rotate(-90deg);
        font-size: 3.5rem;
        color: $brown-light;
        top: calc(50%-200px);
        left: -160px;
        &::before {
            content: "";
            display: block;
            position: absolute;
            transform: inherit;
            width: 3px;
            height: 350px;
            top: -140px;
            left: -200px;
            background-color: $brown-light;
        }
    }
    .conteiner {
        display: flex;
        position: relative;
        background-repeat: no-repeat;
        &::before {
            content: "";
            position: absolute;
            background: url(/assets/images/section-inspiration/bg.svg);
            width: 525px;
            height: 308px;
            top: -74px;
            right: 373px;
            z-index: $z-0;
        }
        .video-main {
            display: block;
            width: 901px;
            height: 507px;
            position: relative;
            .preview {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                background-repeat: no-repeat;
                cursor: pointer;
                .switcher {
                    @extend %btn-play;
                }
            }
            .content {
                width: 90%;
                h2 {
                    font-size: 1.8rem;
                    margin-top: 45px;
                }
                p {
                    line-height: 1.9;
                    margin: 25px 0 40px;
                }
            }
        }
    }
    .video-list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 492px;
        height: 100%;
        padding-left: 44px;
        .video-list-item {
            display: flex;    
            position: relative;            
            .preview {
                position: relative;
                display: flex;
                margin-bottom: 20px;
                margin-right: 20px;
                width: 200px;
                height: 112px;
                background-repeat: no-repeat;
                cursor: pointer;
                time { 
                    display: block;
                    position: absolute;
                    right: 5px;
                    bottom: 5px;
                    padding: 2px 4px;
                    font-size: 1.3rem;
                    background: $black-light;
                    color: $white;
                    opacity: 80%;
                    cursor: pointer;
                }
            }
        }
    }
}