.top-slider {
	display: flex;
	position: relative;
	.slider {
		width: 100%;
		height: 778px;
		
		.slides {
			.slide {
				width: 100%;
				height: 778px;
				background-repeat: no-repeat;
				background-position: center;
				display: flex;
				align-items: flex-end;
				box-sizing: border-box;
				padding: 65px;
				.content {
					position: absolute;
				}

				h2 {
					font-size: 3.8rem;
					color: $white;
				}
			}
		}
		.arrows {
			position: absolute;
			right: -32px;
			bottom: 0;
		}
	}
}
