// Font
$font-main: 'Montserrat', Arial, sans-serif;
$font-title: 'Montserrat', sans-serif;

// Z-indexes
// Max z-index = 100
$z-0: 0;
$z-1: 25;
$z-2: 50;
$z-3: 75;
$z-4: 100;
$z-5: 125;

// Colors
$black: #000;
$black-light: #2D2D2B;
$black-dark: #212121;
$white: #fff;
$brown: #E6DED0;
$brown-light:#F7F5F0;
$white-2: #F4F4F4;
$gray: #606060;
