<footer>
	<div class="cont">
		<div class="logo" style="background-image: url(/assets/images/logo.png)"></div>
		<div class="container">
			<nav class="container-left">
				<div class="left">
					<a href="#" class="btn-footer">Натхнення</a>
					<a href="#" class="btn-footer">Вендори</a>
					<a href="#" class="btn-footer">Відео</a>
					<a href="#" class="btn-footer">Блог</a>
					<a href="#" class="btn-footer">Історії</a>
				</div>
				<div class="right">
					<br> <!--а br можна? -->
					<a href="#" class="btn-footer">Про сайт</a>
					<a href="#" class="btn-footer">Контакти</a>
					<a href="#" class="btn-footer">Рекламодавцям</a>
					<a href="#" class="btn-footer">Для користувачів</a>
				</div>
			</nav>
			<div class="line"></div>
			<div class="container-center">
				<address class="content">
					<a href="mailto:fata@gmail.com" class="mail">fata@gmail.com</a>
					<a href="tel:+380500550505">+38 050 055 05 05</a>
					<div class="btns">
						<a href="#" class="btn-square instagram"></a>
						<a href="#" class="btn-square fb"></a>
						<a href="#" class="btn-square youtube"></a>
					</div>
				</address>
			</div>
			<div class="line"></div>
			<div class="container-right">
				<p>Отримуйте спеціальні пропозиції та найактуальніші новини першим!</p>
				<form action="#">
					<input type="email" class="email" size="25" placeholder="name@email.com">
					<button type="submit" class="btn-black"></button>
				</form>
			</div>
		</div>
	</div>
</footer>
