<header class="header">
	<div class="cont">
		<div class="header--top">
			<div class="logo"></div>
			<div class="buttons">
				<a href="#" class="btn-with-icon icon-cart" data-text="2">
					крамниця
				</a>
				<a href="#" class="btn-with-icon icon-user">
					кімната нареченої
				</a>
			</div>
		</div>
		<div class="header--menu">
			<a href="#" class="btn-hamburger">
				<span></span>
				<span></span>
				<span></span>
			</a>
			<span class="text">menu</span>
		</div>
	</div>
</header>
