@import "base/vars";
@import "base/fonts";
@import "base/normalize";

html {
	font-size: 10px;
}

* {
	font-size: 1.6rem;
	color: $black;
	font-family: $font-main;
}

body {
	margin: 0;
	background: $white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font-title;
}

button,
textarea,
select,
input {
	outline: none;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
