.cont {
	position: relative;
	width: 1436px;
	max-width: 100%;
	padding: 0 30px;
	margin: 0 auto;
}

main {
	@extend .cont;
}

p {
	line-height: 1.9;
	margin: 0;
	color: $gray;
}

h2 {
	font-size: 1.8rem;
	font-weight: 600;
	color: $black-light;
}

h1 {
	position: relative;
	left: -6px;
	font-size: 3.8rem;
	font-weight: 600;
	margin: 0;
	padding-bottom: 60px;
	color: $black-light;
}